/public/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/banker.yml
/app/logs/*
/app/data/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/data/.gitkeep
/build
/vendor
/nbproject/
/bin
/composer.lock
/.idea
